<?xml version="1.0"?>
<configuration>
  <connectionStrings >
    <add name="cnstr" connectionString="Server=99e1b701-5691-4a3e-9df2-a350004b22d4.sqlserver.sequelizer.com;Database=db99e1b70156914a3e9df2a350004b22d4;User ID=qgroocsljcqbtfow;Password=AFZ7XHaZN82haZrEVVRCfRmbBSyLDFVKwVP8RF8enX4HkKACWip8BeURuXDejwug;"/>
    <add name="TenderInfoConnectionString" connectionString="Server=99e1b701-5691-4a3e-9df2-a350004b22d4.sqlserver.sequelizer.com;Database=db99e1b70156914a3e9df2a350004b22d4;User ID=qgroocsljcqbtfow;Password=AFZ7XHaZN82haZrEVVRCfRmbBSyLDFVKwVP8RF8enX4HkKACWip8BeURuXDejwug;"/>
  </connectionStrings>
  
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
