<?xml version="1.0"?>
<configuration>
  <connectionStrings >
    <add name="cnstr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Admin\Desktop\20-6-2014\E-Tendering\App_Data\TenderInfo.mdf;Integrated Security=True;User Instance=True"/>
    <add name="TenderInfoConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\TenderInfo.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
